/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

/* h1 {
    font-size: 40px;
 }

h2 {
    font-size: 24px;
  }

p {
    font-size: 14px;
} */

html {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
    font-weight: 800;
  }

  h2 {
    font-size: 1.5em; /* 30px/16=1.875em */
    font-weight: 300;
  }

  p {
    font-size: 1.1em; /* 14px/16=0.875em */
}

div.spacer
{
    font-size: 0;
    height: 10px;
    line-height: 0;
}

header {
    /* padding-left: 32px;
    padding-right: 32px; */
}



body {
    background-color: #fff;


}

main {
    padding-left: 32px;
    padding-right: 32px;

}


nav {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right:8px;
    background-color: #b5ce6c;


}

nav li a {
    padding-top: 20px;


}

nav ol {
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;


}
main {
    /* border-top: 2px solid #000; */
    padding-top: 40px;
    padding-bottom: 20px;
}


table {
    /* padding-top: 20px; */
    padding-bottom: 20px;
}

td, th {
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

th {

    padding-right: 30px;
    text-align: left;
    background-color: none;
    color: #000;
    }

li {
    padding-top: 0px;
    padding-bottom: 8px;
    height: 1.em

}

li.tall {
    padding-top: 0px;
    padding-bottom: 8px;
    height: 2em

}

ol {
    padding-bottom: 12px;
    padding-left: 32px;

}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #b5ce6c;

}

.carousel {
    width: 100%; /* Width of carousel */
    height: 166px; /* Height of carousel */
}

.card {
    background-color: #fff;
    border-radius: 1rem;
    border: 2px solid #e8e8e8;
    padding-bottom: 1rem;
    position: relative;
  }

    .card a::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

  .card > :last-child {
    margin-bottom: 0;
  }

  .card h3 {
    margin-top: 1rem;
    font-size: 1.25rem;
}

img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%
  }

  img ~ * {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .card-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 2rem;
  }

.card:hover {
    /* background: #e6e6e6; Set background color when hover */
    /* box-shadow: 5px 5px rgba(0, 0, 0, 0.45); */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* box-shadow:
    rgba(0, 0, 0, 0.4) 5px 5px,
    rgba(0, 0, 0, 0.3) 10px 10px,
    rgba(0, 0, 0, 0.2) 15px 15px,
    rgba(0, 0, 0, 0.1) 20px 20px,
    rgba(0, 0, 0, 0.05) 25px 25px
    ; */

    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.08) 0px 5px 10px;

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */

    transform: scale(1.02);
    transition: all .2s ease-in-out;

  }
